%center-horizontal {
    display: table;
    margin: 0 auto;
}

%center-vertical{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

%full-width {
	width: 100%;
	max-width: none;
 	margin-left: 0px;
	margin-right: 0px;
}

%clickable{
  cursor: pointer;
}