$menu-height: 6rem;

$mandg-green: #9EA900; 
$mandg-dark-green: #52682F;
$mandg-teal: #004F5C;
$mandg-pale-teal: #CDDCDC;
$mandg-orange: #F06E04;


$brand-primary-color: $mandg-teal;
$brand-primary-color-contrast: $mandg-orange;


