<!--The content below is only a placeholder and can be replaced.-->
<h1 class="main-header">About M&amp;G</h1>
<section id="about">
  <div class="grid_large-3_medium-3_small-1">
    <div href="#" class="col cell about-panel">
      <header>
        <h2><span>Who</span> we invest for</h2>
      </header>
      <main>
        <p>
          We invest for over seven mullion people in the UK, through ISAs, pension funds and many other types of investment
        </p>
      </main>
    </div>
    <div href="#" class="col cell about-panel">
        <header>
          <h2><span>What</span>we invest in</h2>
        </header>
        <main>
          <p>
            Our investment expertise spans all principal asset classes to offer our clients a broad choice of solutions.
          </p>
        </main>
    </div>
    <div href="#" class="col cell about-panel">
        <header>
            <h2><span>How</span>we invest</h2>
        </header>
        <main>
          <p>
            We believe we can deliver superior returns to our clients by building a depp understanding of the companies and the institutions in which we invest.
          </p>
        </main>
      </div>
  </div> 
</section>
